@media only screen and (max-width: 680px){
    .main{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        align-items: center;

    
    
    }
    

    .m_div{

        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    
    }


}