body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(#979695,#ffffff);
}

.header{
    margin: 3.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.img-logo{

    width: 20%;
    height: 30%;
    flex-grow: 1;
}

nav button{

    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #4a4c4d;
    justify-content: space-between;
    width: 85vw;



}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;


}
nav ul li {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    width: 100%;


}

nav ul li:hover{

    background-color: black;

}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #fff025;
    text-align: center;
    width: 100%;


}

.pargf{
    text-align: center;
    font-family: 'Roboto', sans-serif;


}

.titles{
    font-family: 'Corben', cursive;
    text-align: center;
}

.footer{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start ;
    border-style: solid;
    border-color: #050505;
    background-color: #4a4c4d;
    align-items: center;

}

#pargf_footer{

    order: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    justify-content: flex-start;
    margin-left: 2%;
    color: #ffe923 ;
}

.img-f{

    justify-content: flex-end;
    width: 50px;
    height: 50px;

}

nav ul li#active {
    border-bottom:5px solid #fff025;


}