body{
    display: flex;
    flex-direction: column;
    background:linear-gradient(#ffffff,#737373);
    justify-content: center;
}

.header{
    margin: 2%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#contain_nav{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    order: 1;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    
}

#div_h{
   float: left;
    align-self: center;
}

.title_h{
    font-size: 70px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

header .img-logo{
    order: 0;
    align-self: center;
    margin-left: -8%;
    width: 17%;
    height: 30%;
    float: left;
    filter:drop-shadow(1px 1px 3px rgb(7, 7, 7));

    
}

#social{
    order: 2;
    display: flex;
    flex-direction: row;
    width: 5%;
    height: 100%; 
    justify-content: space-around;
    filter:drop-shadow(1px 1px 3px rgba(78, 78, 78, 0.407))
}

nav button{

    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #4a4c4d;
    justify-content: space-between;
    width: 85vw;
    



}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin: 0;
    width: 100%;


}
nav ul li {
    display: flex;
    flex-direction: row;
    font-size: 210%;
    padding: 3%;
    justify-content: center;
    width: 100%;
    border:rgb(99, 98, 98) solid 0.05px;
    font-family: 'Roboto', sans-serif;


}

nav ul li:hover{

    background-color: black;
    width: 94%;

}



nav a:link, nav a:visited, nav a:active {
    text-decoration:none;
    color: #fff025;
    text-align: center;
    width: 100%;
    align-items: center;

}

.pargf{
    text-align: center;
    font-family: 'Roboto', sans-serif;


}

.titles{
    font-family: 'Corben', cursive;
    text-align: center;
}

.footer{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18vw;
    justify-content: space-around ;
    border-style: solid;
    border-color: #4a4a4a2a;
    background-color: transparent;
    align-items: center;

}
footer #information a:link, footer #information a:visited, footer #information a:active{
    text-decoration:none;
    text-align: center;
    font-size: large;
    width: 6.5%;
    height: 1%;
    color: #ffffff;
}
.footer-L{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2.5%;
}


#project_inf{
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: #ffe923 ;
}


#branch-a{
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-items: left;
    margin-left: -10%;
    margin-top: 3%;
    margin-right: 3%;
 

}
#img-log-f{

    width: 10%;
    height: 100%;
    margin-left: -7%;
    margin-top: 3%;
    filter:drop-shadow(1px 1px 3px rgba(255, 254, 254, 0.407));
    image-rendering: optimizeQuality;


}
#information {
    text-align: center;
    /* display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; */
    align-items: center;
    width: min-content;
    height: 100%;
    margin-bottom: -5%;

}


.pargf_footer{

    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #ffe923 ;


}

#img-f{ 
    width: 50px;
    height: 50px;

}

