@media only screen and (max-width: 680px) {
    .body{

        margin: 0px;
    }
    
    .header{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .title_h{
        font-size: 35px;
    }
    
    nav button{
        display: block;
        margin: 1%;
        background: transparent;
        border: none;
        font-size: 175%;
        color: black;
        align-self: flex-start;
    }

    nav{

        display: flex;
        width: 100%;
        flex-direction: column;



    }
    nav ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li a {

        display: block;
        padding: 1%;
        text-decoration: none;
        color: rgb(255, 240, 37);
        border-top:0.5px solid rgba(0, 0, 0, 0.5) ;
        width: 100%;
    }

    nav ul li a:hover{
        background-color:rgba(0, 0, 0, 0.4) ;
    }

    nav ul{
        display: none;
    }

    nav ul.open{
        display: block;
    }
    #social{
        margin-right: -55px;
        margin-top: 3%;
    }
    
    #img-f{ 
        width: 35px;
        height: 35px;
    
    }
    .footer-L{
        margin: 0px;
    }

    #img-log{
        margin-left: -10%;
        margin-bottom:-4%;
        width: 10%;
        height: 100%;
    }

    #branch-a{

        font-size: 27%;
        margin-top: 5%;
    
    }
    .pargf_footer{
        font-size: 27%;
    }

    #project_inf{
        font-size: x-small; 
        align-items: center;
        align-content: flex-end;
        margin-bottom: -12%;
        padding-bottom: 3%;
    }

    footer #information a:link, footer #information a:visited, footer #information a:active{
        font-size: 27%;
        


    }
    #information{
        width: min-content;
        margin-top: 3%;
        margin-right: -2%;
        margin-left: 5%;
        font-size: 27%;
        text-align: center;
    }

}